body {
    font-size: 15px;
    margin: 0;
    background-color: #009bd6;
}
.naslov {
  display: flex;
  justify-content: center;
  height: 100px;
  background-color: #00415a;
}
h1{
  color: #001f2b;
}
.said1{
  width: 130px;
  height: 222px;
  margin: 5px 5px 5px 5px;
}

.said {
  display: flex;
  flex-direction:row;
  margin: 15px 10px 10px 10px;
  border-radius: 1rem;
  background-color: #00719c;
  
  
  
}

.info1 {
  display: flex;
  flex-direction: column;
  margin: 5px 5px 5px 5px;
}
.music1 {
  display: flex;
  flex-direction: column;
  margin: 15px 10px 10px 10px;
  border-radius: 1rem;
  background-color: #00719c;
}